.drawer {
    background-color: #0A0A3E;
  }
  
  .list-item {
    color: white;
    font-weight: bold;
  }
  
  .list-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .MuiListItemText-root {
    font-weight: bold;
  }
  
.p-4 {
    padding: 16px;
  }
  
  .mb-4 {
    margin-bottom: 16px;
  }
  
  .mt-4 {
    margin-top: 16px;
  }
  
  .p-4 .MuiCard-root {
    padding: 16px;
  }
  
  /* AdminLayout.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

main {
  margin-top: 4rem; 
}

@media (min-width: 768px) {
  header {
    display: none;
  }
}
